/* -*- mode: c; tab-width: 4; indent-tabs-mode: nil; -*- */
#ifndef __MGSTTS_FILE_CNF__
#define __MGSTTS_FILE_CNF__

FS_FILE_INFO fs_file_info[] = {
    { "stage.dat",          0, 0, 0, 0, 0 },    // 0
    { "shared/codec.dat",   0, 0, 0, 0, 0 },    // 1
    { "shared/face.dat",    0, 0, 0, 0, 0 },    // 2
    { "shared/movie.dat",   0, 0, 0, 0, 0 },    // 3
    { "shared/vox.dat",     0, 0, 0, 0, 0 },    // 4
    { "demo.dat",           0, 0, 0, 0, 0 },    // 5
    { NULL,                 0, 0, 0, 0, 0 }
};

#endif // {{{ END OF FILE }}}
/* vim:set ts=4 sw=4 sts=4 et ft=c: */
